<div>
	<div style="width: 300px; border-left: 1px solid white;">
		<i ng-click="pin($event)" class="icon-chevron-right pull-right" id="pinToRight" style="position:absolute;top:25px;right:25px;cursor:pointer;" ng-show="pinned == false"></i>
		<i ng-click="unpin($event)" class="icon-off pull-right" id="pinToRight" style="position:absolute;top:25px;right:25px;cursor:pointer;" ng-show="pinned == true"></i>
	    <div class="progress progress-striped active" id="progress_bar" ng-show="loading">
	    	<div class="bar" style="width: 100%;"></div>
	    </div>
	    <div class="well" style="color: black;">
	    	<span>{{name}}</span>
			<b>Status: {{realtimeStatus}} </b>
	        <form class="form-horizontal">
	            
	            <label>Name:</label>
	            <input placeholder="Your Name" type="text" name="username" ng-model="message.username" style="width: 150px;"/> <br/>
				
				<label>Email:</label> 
				<input placeholder="Your Email" type="text" name="email" ng-model="message.email" style="width: 150px;"/> <br/>             
	            
	            <label>Message:</label> 
	            <textarea placeholder="What's on your mind?" rows="3" name="text" ng-model="message.text" style="width: 150px; height: 60px;"></textarea>
	            
	            <button type="submit" ng-click="publish()" class="btn btn-primary" style="width: 100px; margin-top: 5px;">Send</button>     
	        </form>        									    	

	        <hr/>

			<!-- Message List -->
			<div id="messages" class="table-striped">
			    <div class="message" ng-repeat="message in messages" cool-fade style="border: 0px solid black;">
				    <div class="avatar-frame pull-left" style="width: 20px; border: 1px solid black;">
				    	<img ng-src="http://www.gravatar.com/avatar/{{message.from_email | gravatarHash}}?s=60"
				    		 class="avatar avatar-60 photo" 
				    		 height="20" width="20"/>
				    </div>
			    	<p class="user pull-left">{{message.from}} said:</p>
			    	<br />
			        <div class="text" style="width: 250px; padding: 6px 0; word-wrap: break-word;" ng-bind-html-unsafe="message.text"></div>
			        <small>{{message.sent_at | date:'medium'}}</small>
			        <br />
			    </div>
			</div>      
			
		</div>
	</div>
</div>